<footer class="footer">
  <small>
    <a href="http://wits.ac.za/">Energy Dashboard</a>
    by Rodwell Mangisi
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><a href="http://wits.ac.za/">News</a></li>
    </ul>
  </nav>
</footer>

